.navbar-dark {
    background-color: blueviolet;
    width: 100%;
  }

  .fixed-top {
    font-weight: 500;
    .navbar-brand {
      color: #ccf381;
      font-size: 20px;
      font-weight: 700;
      
    }
    .navbar-brand:hover {
      transition: 1s ease-in-out;
    }
  }

  .nav-item {
    color: white;
    font-weight: 500;
    margin-left: 2em;

    .resume {
      color: white;
      text-decoration: none;
    }

    .facebook {
      border-radius: 5px;
      background-color: transparent;
      color: white;
      border: none;
      width: 25%;

      &:hover {
          color: rgb(56, 56, 184);
          transition: 1s ease-in-out;
      }
  }
  .linkedin {
      margin-left: 13px;
      border-radius: 5px;
      background-color: transparent;
      border: none;
      color: white;

      &:hover {
          color: rgb(82, 110, 236);
          transition: 1s ease-in-out;
      }
  }
  .twitter {
      border-radius: 5px;
      margin-left: 13px;
      background-color: transparent;
      border: none;
      color: white;

      &:hover {
          color: rgb(90, 120, 253);
          transition: 1s ease-in-out;
      }
  }
  .github {
      border-radius: 5px;
      margin-left: 13px;
      background-color: transparent;
      color: white;
      border: none;
      font-size: 20px;
  }
    
  }

  @media (max-width: 640px) {
    .navbar-dark {
      background-color: #4831d4;
      width: 68%;
    }
  }