$Juicy-Grape-3-hex: #7638C2;

.nav-btns {
  float: right;
  
}

.nav-btns>button {
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  color: white;
  border: none;
  background: transparent;
}
.nav-aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b1c1e;
  max-width: 360px;
  width: 100%;
  padding: 80px 20px;
  overflow-y: scroll;
  z-index: 99;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
}

.nav-aside.active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.nav-aside-menu li a {
  display: block;
  padding: 15px 0px;
  color: #fff;
  border-bottom: 1px solid #323335;
}

.nav-aside-menu li a:hover,
.nav-aside-menu li a:focus {
  color: #ee4266;
}

.nav-aside-menu li.has-dropdown>a {
  cursor: pointer;
}

.nav-aside-menu li.has-dropdown>a:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  float: right;
}

.nav-aside-menu li.has-dropdown>.dropdown {
  display: none;
  margin-left: 30px;
  border-left: 1px solid #323335;
}

.nav-aside-menu li.has-dropdown.active>.dropdown {
  display: block;
}

.nav-aside-menu li.has-dropdown>.dropdown a {
  padding: 15px;
}

.nav-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.nav-close span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-close span:before,
.nav-close span:after {
  content: "";
  display: block;
  width: 30px;
  background-color: #fff;
  height: 2px;
}

.nav-close span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

.nav-close span:after {
  -webkit-transform: translateY(-2px) rotate(135deg);
  -ms-transform: translateY(-2px) rotate(135deg);
  transform: translateY(-2px) rotate(135deg);
}
.navbar-dark {
    background-color: $Juicy-Grape-3-hex;
    width: 100%;
  }

  .fixed-top {
    font-weight: 500;
    .navbar-brand {
      color: #ccf381;
      font-size: 20px;
      font-weight: 700;
      
    }
    .navbar-brand:hover {
      transition: 1s ease-in-out;
    }
  }

  .nav-item {
    color: white;
    font-weight: 500;
    margin-left: 2em;

    .resume {
      color: white;
      text-decoration: none;
    }

    .facebook {
      border-radius: 5px;
      background-color: transparent;
      color: white;
      border: none;
      width: 25%;

      &:hover {
          color: rgb(56, 56, 184);
          transition: 1s ease-in-out;
      }
  }
  .linkedin {
      margin-left: 13px;
      border-radius: 5px;
      background-color: transparent;
      border: none;
      color: white;

      &:hover {
          color: rgb(82, 110, 236);
          transition: 1s ease-in-out;
      }
  }
  .twitter {
      border-radius: 5px;
      margin-left: 13px;
      background-color: transparent;
      border: none;
      color: white;

      &:hover {
          color: rgb(90, 120, 253);
          transition: 1s ease-in-out;
      }
  }
  .github {
      border-radius: 5px;
      margin-left: 13px;
      background-color: transparent;
      color: white;
      border: none;
      font-size: 20px;
  }
    
  }

  @media (max-width: 640px) {
    .navbar-dark {
      background-color: #4831d4;
      width: 68%;
    }
  }