.footer {
    width: 100%;
    height: 605px;
    background-color: #222;

    .footer-items {
        color: white;
        padding-top: 100px;
        margin-left: 150px;

        h5 {
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 3px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            @media (max-width: 640px) {
                margin-left: -100px;
            }
        }

        
        ul {
            font-size: 18px;
            list-style-type: none;
            padding: 10px;
            line-height: 2.5em;
            margin-left: -14px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #fff;

            @media (max-width: 640px) {
                margin-left: -150px;
                justify-content: left;
                justify-items: left;
                text-align: left;
            }

            & li {
                text-decoration-style: none;
                .link {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        .footer-bottom {
            margin-top: 8em;
            border-top: 1px solid #fff;
            width: 80%;
            
            .col-5 {
                margin-top: 70px;
                font-size: 20px;
                color: #fff;
            }
            .col-7 {
                margin-top: 10px;
                .btn-group {
                    margin-left: 350px;
                    .facebook {
                        border-radius: 5px;
                        background-color: transparent;
                        color: white;
                        border: none;
                        width: 25%;

                        &:hover {
                            color: rgb(56, 56, 184);
                            transition: 1s ease-in-out;
                        }
                    }
                    .linkedin {
                        margin-left: 13px;
                        border-radius: 5px;
                        background-color: transparent;
                        border: none;
                        color: white;

                        &:hover {
                            color: rgb(82, 110, 236);
                            transition: 1s ease-in-out;
                        }
                    }
                    .twitter {
                        border-radius: 5px;
                        margin-left: 13px;
                        background-color: transparent;
                        border: none;
                        color: white;

                        &:hover {
                            color: rgb(90, 120, 253);
                            transition: 1s ease-in-out;
                        }
                    }
                    .github {
                        border-radius: 5px;
                        margin-left: 13px;
                        background-color: transparent;
                        color: white;
                        border: none;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .footer {
        width: 100%;
        height: 800px;
        .footer-items {
            .row {
                ul {
                    font-size: 14px;
                }
            }
        }

        .col-4 {
            margin-left: 60px;
        }
        .footer-bottom {
            margin-left: -60px;
            margin-top: -40px;
            
            .col-5 {
                justify-items: center;
                justify-content: center;
                text-align: center;
                p{
                    text-align: center;
                    font-size: 13.5px;
                    margin-left: 70px;
                    margin-top: -20px;
                }
               
            }
            .col-7 {
                justify-content: center;
                justify-items: center;
                margin-left: -450px;
                padding-top: 5.3em;
            }
        }
    }
    
}