$Juicy-Grape-3-hex: #7638C2;
.experience {
    width: 100%;
    height: 605px;
    background-color: $Juicy-Grape-3-hex;
    
    .exp-heading{
        float: left;
        margin-top: 3em;
        margin-left: 7em;

        h3 {
            font-size: 2.2em;
            color: #ccf381;
            font-weight: 900;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
        }

        .description {
            color: #fff;
            font-size: 1em;
            line-height: 1.6;
            text-align: left;
        }
    }
}