$Juicy-Grape-3-hex: #7638C2;
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
.experience {
    width: 100%;
    height: 605px;
    background-color: #212121;
    
    .exp-heading{
        float: left;
        margin-top: 5em;
        margin-left: 7em;

        h3 {
            font-size: 2.2em;
            color: #fff;
            font-weight: 900;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
        }

        .description {
            color: #fff;
            font-size: 1em;
            line-height: 1.6;
            text-align: left;
            font-family: 'Roboto Slab', serif;

            .contact {
                color: #ec008c;
            }
        }
    }
}