$Juicy-Grape-3-hex: #7638C2;
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

//Header 

.nav-btns>button {
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  color: white;
  border: none;
  background: transparent;
}

.nav-btns>button:hover {
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  color: white;
  border: none;
  background: #4831d4;
}

.navbar-dark {
    background-color: #212121;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    z-index: 9999;
    display: flex;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
  }
    .navbar-brand {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      
    }
    .navbar-brand:hover {
      transition: 1s ease-in-out;
    }

  .nav-item {
    color: white;
    font-weight: 500;
    margin-left: 2em;

    .resume {
      color: white;
      text-decoration: none;
    }

    .facebook {
      border-radius: 5px;
      background-color: transparent;
      color: white;
      border: none;
      width: 25%;

      &:hover {
          color: rgb(56, 56, 184);
          transition: 1s ease-in-out;
      }
  }
  .linkedin {
      margin-left: 13px;
      border-radius: 5px;
      background-color: transparent;
      border: none;
      color: white;

      &:hover {
          color: rgb(82, 110, 236);
          transition: 1s ease-in-out;
      }
  }
  .twitter {
      border-radius: 5px;
      margin-left: 13px;
      background-color: transparent;
      border: none;
      color: white;

      &:hover {
          color: rgb(90, 120, 253);
          transition: 1s ease-in-out;
      }
  }
  .github {
      border-radius: 5px;
      margin-left: 13px;
      background-color: transparent;
      color: white;
      border: none;
      font-size: 20px;
  }
    
  }

  //Aside 

  .nav-aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #222;
    max-width: 360px;
    width: 100%;
    height: 500px;
    padding: 80px 20px;
    border-radius: 6px;
    margin-top: 5.5em;
    z-index: 99;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
    transition: 0.4s all cubic-bezier(.77, 0, .18, 1);
  }
  
  .nav-aside.active {
      margin-right: 2em;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    
  }

  .nav-aside-menu li {
      list-style-type: none;
      h5 {
        margin-top: 1.5em;
        color: #fff;
      }
  }
  
  .nav-aside-menu li a {
    display: block;
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 1.1em;
    font-weight: 400;
  }

  .btn-group {
      margin-top: 3em;
    .facebook {
        border-radius: 5px;
        background-color: transparent;
        color: rgb(88, 31, 141);
        border: none;
        width: 25%;
    
        &:hover {
            color: rgb(56, 56, 184);
            transition: 1s ease-in-out;
        }
    }
    .linkedin {
        margin-left: 13px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        color: rgb(88, 31, 141);
    
        &:hover {
            color: rgb(82, 110, 236);
            transition: 1s ease-in-out;
        }
    }
    .twitter {
        border-radius: 5px;
        margin-left: 13px;
        background-color: transparent;
        border: none;
        color: rgb(88, 31, 141);
    
        &:hover {
            color: rgb(90, 120, 253);
            transition: 1s ease-in-out;
        }
    }
    .github {
        border-radius: 5px;
        margin-left: 13px;
        background-color: transparent;
        color: rgb(88, 31, 141);
        border: none;
        font-size: 20px;
    }
  }

  
  
  /* .nav-aside-menu li a:hover,
  .nav-aside-menu li a:focus {
    color: #ee4266;
  } */
  
  //Aside Close button
  .nav-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    color: #fff;
    border: none;
  }
  
  .nav-close span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .nav-close span:before,
  .nav-close span:after {
    content: "";
    display: block;
    width: 30px;
    background-color: #fff;
    color: #fff;
    height: 2px;
  }
  
  .nav-close span:before {
    -webkit-transform: translateY(0px) rotate(-135deg);
    -ms-transform: translateY(0px) rotate(-135deg);
    transform: translateY(0px) rotate(-135deg);
  }
  
  .nav-close span:after {
    -webkit-transform: translateY(-2px) rotate(135deg);
    -ms-transform: translateY(-2px) rotate(135deg);
    transform: translateY(-2px) rotate(135deg);
  }

  //Landing First Section

  .mainpage{
    width: 100%;
    margin: 0;
    padding: 0;
    .header{
        background-color: #222;
        min-height: 650px;
        width: 100%;

        .heading {
            margin-top: 10em;
            margin-left: 5em;
            h3 {
                font-size: 2.9em;
                color: #ffffff;
                font-weight: 900;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase; 
            }
            .description {
                color: #ffffff;
                font-weight: 500;
                font-size: 17px;
                margin-top: 30px;
            }
    
            .btn-group {
                margin-top: 3em;
                width: 70%;
    
                .learn {
                    margin-left: 15px;
                    border-radius: 5px;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 16px;
                    background-color: transparent;
                    border: 1px solid #4831d4;
                    border-radius: 0px;
                    color: #4831d4;
                    letter-spacing: 0.1em;
                    cursor: pointer; 

                    &:hover {
                        transform-origin: left;
                        background-color: #4831d4;
                        color: #ffffff;
                        border: none;
                    }
                }
                .getstarted {
                    padding: 5px;
                    font-weight: 500;
                    font-size: 16px;
                    background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);
                    //background: #ec008c;
                    background-size: 300% 100%;
                    font-size: 16px;
                    padding: 15px 20px;
                    border: none;
                }
            } 
        }
        .image {
            margin-top: 8em;
        }
    }
}

  @media (max-width: 640px){
    .mainpage {
        .heading{ 

            h3{
                font-size: 1.8em !important;
                margin-left: -1.5em;
                text-align: left;
                line-height: 2.4rem;
            }

            p {
                margin-left: -3.5em;
                font-size: 0.75em !important;
            }     
        }
        .image {
            margin-top: 0.1em !important;
        }
        
        .btn-group{
            width: 100% !important;
            margin-top: 1em !important;
            justify-content: center !important;
            margin-left: -3em !important;
            .getstarted {
                padding: 1px;
                width: 50% !important;
            }
        }
    }
}

//Experience section

.experience {
    width: 100%;
    min-height: 655px;
    background-color: #000;
    
    .exp-heading{
        margin-top: 5em;
        margin-left: 5em;

        h3 {
            font-size: 2.2em;
            color: #fff;
            font-weight: 900;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
        }

        .description {
            color: #fff;
            font-size: 1em;
            line-height: 1.6;
            text-align: left;
            font-family: 'Roboto Slab', serif;

            .contact {
                color: #ec008c;
            }
        }
    }

    .recent {
        margin-top: 6em;
        display: flex;
        justify-content: space-between;
        
        .imagename {
            width: 4em;
            margin-left: 2em;
            margin-bottom: -2em;
        }
    }
}

@media (max-width: 640px){
    .experience {
        min-height: 680px !important;
        border: none !important;

        .exp-heading {
            margin-left: -0.3em;
            h3{
                font-size: 2em;
            }
            .description {
                font-size: 1em;
            }
        }

        .recent {
            margin-top: 1em;
            display: inline-flex;
            justify-content: center !important;
            .imagename {
                width: 3em;
                margin-left: 3em;
                margin-bottom: 1.5em;
                
            }
        }
    }
}



//WORKS

.work {
  width: 100%;
  min-height: 605px;
  background-color: #000;

  .build {
          box-sizing: border-box;
          border-radius: 6px;
          display: flex;
          margin-top: 5em;
          list-style-type: none;
          margin-left: 5em;
          background-color: transparent;
          padding: 4em;
          margin-bottom: 4em;
          
          & :hover {
              -webkit-transform: scale(1.0);
              -ms-transform: scale(1.0);
              transform: scale(1.0);
          }

          .article{
              h1 {
                  font-size: 2.6em;
                      margin: 0;
                      font-weight: 700;
                      line-height: 1.1;
                      letter-spacing: -0.03em;
                      color: #ddd;
                      transition: transform 0.5s, opacity 0.2s;
                      text-transform: uppercase;
              }
              p {
                  font-size: 1.3em;
                  line-height: 1.6;
                  color: #fff;
                  margin-top: 1em;
              }
              .send {
                  margin-top: 2.5em;
                  padding: 15px;
                  width: 50%;
                  border: 1px solid rgb(21, 172, 89);
                  background: rgb(21, 172, 89);
                  border-radius: 0px;
                  color: #ffffff;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  font-size: 0.9em;
                  box-sizing: border-box;

                  &:hover {
                      transform-origin: left;
                      background-color: rgb(21, 172, 89);
                      color: #ffffff;
                      border: none;
                      -webkit-font-smoothing: antialiased !important;
                  }
              }
          }       
  }

  .write {
          box-sizing: border-box;
          border-radius: 6px;
          display: flex;
          margin-top: 5em;
          list-style-type: none;
          //margin-left: 5em;
          background-color: transparent;
          padding: 4em;
          
          .article{
              h1 {
                  font-size: 2.6em;
                      margin: 0;
                      font-weight: 700;
                      line-height: 1.1;
                      letter-spacing: -0.03em;
                      color: #4831d4;
                      transition: transform 0.5s, opacity 0.2s;
                      text-transform: uppercase;
              }
              p {
                  font-size: 1.3em;
                  line-height: 1.6;
                  color: #fff;
                  margin-top: 1em;
              }
              .send {
                  margin-top: 2.5em;
                  padding: 15px;
                  width: 50%;
                  background-color: transparent;
                  border: 1px solid rgb(21, 172, 89);
                  border-radius: 0px;
                  color: #fff;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  font-size: 0.9em;
                  box-sizing: border-box;

                  &:hover {
                      transform-origin: left;
                      background-color: rgb(21, 172, 89);
                      color: #ffffff;
                      border: none;
                  }
              }
          }       
  }
}

@media (max-width: 640px) {
  .work {
      width: 100%;
      .build {
          box-sizing: border-box;
          border-radius: 6px;
          display: flex;
          margin-top: 4em;
          list-style-type: none;
          margin-left: 0.5em;
          background-color: transparent;
          padding: 2em;
          
          //margin-bottom: 4em;
          .article{
              h1 {
                  font-size: 2em;
                      margin: 0;
                      font-weight: 600;
                      line-height: 1.1;
                      letter-spacing: -0.03em;
                      color: white;
                      transition: transform 0.5s, opacity 0.2s;
                      margin-top: -0.8em
              }
              p {
                  font-size: 1em;
                  line-height: 1.6;
                  color: white;
                  margin-top: 1em;
              }
              .send {
                  margin-top: 1em;
                  padding: 15px;
                  width: 100%;
                  background: rgb(21, 172, 89);
                  border: none;
                  border-radius: 0px;
                  color: #ffffff;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  font-size: 0.6em;
                  box-sizing: border-box;
                  &:hover {
                      transform-origin: left;
                      background-color: rgb(21, 172, 89);
                      color: #ffffff;
                      border: none;
                  }
              }
          } 
      }

      .write {
          box-sizing: border-box;
              border-radius: 6px;
              display: flex;
              list-style-type: none;
              background-color: transparent;
              padding: 2em;
             // margin-left: 1.5em;
              margin-top: -3em;
  
              .article{
                  h1 {
                      font-size: 2em;
                      margin: 0;
                      font-weight: 600;
                      line-height: 1.1;
                      letter-spacing: -0.03em;
                      color: #fff;
                      transition: transform 0.5s, opacity 0.2s;
                      margin-top: -0.8em;
                  }
                  p {
                      font-size: 1em;
                      line-height: 1.6;
                      color: white;
                      margin-top: 1em;
                  }
                  .send {
                  margin-top: 0.5em;
                  padding: 15px;
                  width: 100%;
                  background-color: transparent;
                  border: 1px solid rgb(21, 172, 89);
                  color: white;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  font-size: 0.6em;
                  box-sizing: border-box;
                      &:hover {
                          transform-origin: left;
                          background-color: rgb(21, 172, 89);
                          color: #ffffff;
                          border: none;
                      }
                  }
              }       
      }

  }
}

//Work List Section

.workdetails {
    background-color: #181818;
    margin: 0;
    padding: 0;

    .heading {
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h3 {
            padding-top: 5em;
            color: #fff;
            font-weight: 700;
            font-size: 1.802em;
            line-height: 1.15;
            transition: color 0.6s ease 0s;
        }
        p {
            color: #fff;
            font-size: 1.3em;
            font-weight: 400;
        }
        
    }
    
     .collection {
        padding: 1em;
        margin-top: 1em;
        .card {
            box-shadow: 0 20px 25px -2px rgba(0,0,0,.4);
            background: linear-gradient(180deg,#181818 0,#222 100%);
            margin-bottom: 1.1em;
            box-sizing: border-box;
            
            &:hover {
                transform: scale(1.05);
                    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
                    transition: transform .3s ease-out 0s;
            }
            img {
                padding: 2em;
            }
            .card-body {
                //background-color: white;
                padding: 2em;

                h4 {
                    color: #fff;
                    font-weight: 600;
                }
                .card-text {
                    font-size: 1.1em;
                    color: blueviolet;
                    text-decoration: none;
                }
            }
        }
        
    }
}

//contact me
.messageme {
    width: 100%;
    height: 605px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    -webkit-box-pack: center;
    background-color: #000;

    .head{ 
        margin-top: 6em;
        justify-content: center; 
        text-align: center;
        align-items: center;
        h3 {
            font-size: 2.4em;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: #fff;
        }
        p{
            font-size: 15px;
            color: #fff;
        }
    }

    
     .formcontact {
      
        justify-items: left;
        justify-content: left;
        text-align: left;
    }
}

//footer
.footer {
    width: 100%;
    height: 655px;
    background-color: #222;

    .footer-items {
        color: white;
        padding-top: 90px;
       

        h5 {
            text-transform: uppercase;
            font-size: 22px;
            letter-spacing: 3px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
  
        ul {
            font-size: 18px;
            list-style-type: none;
            padding: 10px;
            line-height: 2.5em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #fff;

            & li {
                text-decoration-style: none;
                .link {
                    text-decoration: none;
                    color: #fff;
                }
                &:hover {
                    color: rgb(21, 172, 89);
                    transition: transform 0.5s, opacity 0.2s;
                }
            }
        }

        .footer-bottom {
            margin-top: 4em;
            border-top: 1px solid #fff;
            width: 80%;
            
            .name {
                margin-top: 35px;
                font-size: 20px;
                color: #fff;
            }
            .btn {
               margin-top: -0.5em;
                .btn-group {
                   
                    .facebook {
                        border-radius: 5px;
                        background-color: transparent;
                        color: white;
                        border: none;
                        width: 25%;

                        &:hover {
                            color: rgb(56, 56, 184);
                            transition: 1s ease-in-out;
                        }
                    }
                    .linkedin {
                        margin-left: 13px;
                        border-radius: 5px;
                        background-color: transparent;
                        border: none;
                        color: white;

                        &:hover {
                            color: rgb(82, 110, 236);
                            transition: 1s ease-in-out;
                        }
                    }
                    .twitter {
                        border-radius: 5px;
                        margin-left: 13px;
                        background-color: transparent;
                        border: none;
                        color: white;

                        &:hover {
                            color: rgb(90, 120, 253);
                            transition: 1s ease-in-out;
                        }
                    }
                    .github {
                        border-radius: 5px;
                        margin-left: 13px;
                        background-color: transparent;
                        color: white;
                        border: none;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 640px) {
        .footer-items{
            h5 {
                text-transform: uppercase;
                font-size: 20px;
                
            }

            ul {
                font-size: 16px;
                list-style-type: none;
                padding: 10px;
                line-height: 2.5em;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #fff;
    
                & li {
                    text-decoration-style: none;
                    .link {
                        text-decoration: none;
                        color: #fff;
                    }
                    &:hover{
                        color: rgb(21, 172, 89);
                        transition: 0.5s ease-in-out;
                    }
                }
            }
        }
    }

}

//Blog Section

.blog {
    background-color: #181818;
    margin: 0;
    padding: 0;

    .container-fluid {
        margin-bottom: 10em;

        .last {
            border: none;
            padding: 2em;
            margin-left: 20%;
            width: 60%;
            justify-items: left;
            text-align: left;
            justify-content: left;
            margin-top: 3em;
            .date{
                color: blueviolet;
                h5 {
                    color: #fff;
                    font-weight: 400;
                    font-size: 1.2em;       
                }

            }
        }
    }
    
    .heading {
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h3 {
            padding-top: 6em;
            color: #fff;
            font-weight: 700;
            font-size: 1.802em;
            line-height: 1.15;
            transition: color 0.6s ease 0s;
            
        }
        p {
            color: #fff;
            font-size: 1.3em;
            font-weight: 400;
        }   
    }

    .article {
        border: none;
        border-bottom: 0.1px solid #fff;
        padding: 2em;
        margin-left: 20%;
        width: 60%;
        justify-items: left;
        text-align: left;
        justify-content: left;
        margin-top: 2em;
      //  background-color: white;

        .date{
            color: #fff;
            h5 {
                color: #fff;
                font-weight: 400;
                font-size: 1.2em;
                
            }

        }

        .title {
            
            h3 {
                color: #fff;
                font-weight: 700;
            }
            p {
                font-size: 1.2em;
                font-weight: 300;
                color: #fff;
                
            }
        }
    }
}