.work {
    width: 100%;
    min-height: 605px;
    background-color: #000;

    .build {
            box-sizing: border-box;
            border-radius: 6px;
            display: flex;
            margin-top: 4em;
            list-style-type: none;
            margin-left: 5em;
            background-color: transparent;
            padding: 4em;
            margin-bottom: 4em;
            
            & :hover {
                -webkit-transform: scale(1.0);
                -ms-transform: scale(1.0);
                transform: scale(1.0);
            }

            .article{
                h1 {
                    font-size: 2.6em;
                        margin: 0;
                        font-weight: 700;
                        line-height: 1.1;
                        letter-spacing: -0.03em;
                        color: #ddd;
                        transition: transform 0.5s, opacity 0.2s;
                        text-transform: uppercase;
                }
                p {
                    font-size: 1.3em;
                    line-height: 1.6;
                    color: #fff;
                    margin-top: 1em;
                }
                .send {
                    margin-top: 2.5em;
                    padding: 15px;
                    width: 50%;
                    background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);
                    border: none;
                    border-radius: 0px;
                    color: #ffffff;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    box-sizing: border-box;

                    &:hover {
                        transform-origin: left;
                        background-color: #4831d4;
                        color: #ffffff;
                        border: none;
                        -webkit-font-smoothing: antialiased !important;
                    }
                }
            }       
    }

    .write {
        box-sizing: border-box;
            border-radius: 6px;
            display: flex;
            margin-top: 4em;
            list-style-type: none;
            margin-left: 5em;
            background-color: transparent;
            padding: 4em;
            
            .article{
                h1 {
                    font-size: 2.6em;
                        margin: 0;
                        font-weight: 700;
                        line-height: 1.1;
                        letter-spacing: -0.03em;
                        color: #4831d4;
                        transition: transform 0.5s, opacity 0.2s;
                        text-transform: uppercase;
                }
                p {
                    font-size: 1.3em;
                    line-height: 1.6;
                    color: #fff;
                    margin-top: 1em;
                }
                .send {
                    margin-top: 2.5em;
                    padding: 15px;
                    width: 50%;
                    background-color: transparent;
                    border: 1px solid #4831d4;
                    border-radius: 0px;
                    color: #4831d4;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    box-sizing: border-box;

                    &:hover {
                        transform-origin: left;
                        background-color: #4831d4;
                        color: #ffffff;
                        border: none;
                    }
                }
            }       
    }
}

.workdetails {
    background-color: #181818;
    margin: 0;
    padding: 0;

    .heading {
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h3 {
            padding-top: 5em;
            color: #fff;
            font-weight: 700;
            font-size: 1.802em;
            line-height: 1.15;
            transition: color 0.6s ease 0s;
        }
        p {
            color: #fff;
            font-size: 1.3em;
            font-weight: 400;
        }
        
    }
    .collection {
        padding: 5.5em;
        margin-top: -3em;
        
        .card {
            box-shadow: 0 20px 25px -2px rgba(0,0,0,.4);
            background: linear-gradient(180deg,#181818 0,#222 100%);
            margin-bottom: 1.1em;
            box-sizing: border-box;
            
            &:hover {
                box-shadow: 1px 1px 1px 1px rgba(114, 113, 113, 0.116);
                -moz-box-shadow: 1px 1px 1px 1px rgba(114, 113, 113, 0.116);
                -webkit-box-shadow: 1px 1px 1px 1px rgba(114, 113, 113, 0.116);
               transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
               -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
            }
            img {
                padding: 3em;
            }
            .card-body {
                //background-color: white;
                padding: 2.5em;

                h4 {
                    color: #fff;
                    font-weight: 600;
                }
                .card-text {
                    font-size: 1.1em;
                    color: blueviolet;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .work {
        width: 100%;
        .build {
            box-sizing: border-box;
            border-radius: 6px;
            display: flex;
            margin-top: 2em;
            list-style-type: none;
            margin-left: 1.5em;
            background-color: transparent;
            padding: 2em;
            
            //margin-bottom: 4em;
            .article{
                h1 {
                    font-size: 1.5em;
                        margin: 0;
                        font-weight: 600;
                        line-height: 1.1;
                        letter-spacing: -0.03em;
                        color: white;
                        transition: transform 0.5s, opacity 0.2s;
                        margin-top: -0.8em
                }
                p {
                    font-size: 0.8em;
                    line-height: 1.6;
                    color: white;
                    margin-top: 1em;
                }
                .send {
                    margin-top: 1em;
                    padding: 15px;
                    width: 100%;
                    background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);
                    border: none;
                    border-radius: 0px;
                    color: #ffffff;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-size: 0.6em;
                    box-sizing: border-box;
                    &:hover {
                        transform-origin: left;
                        background-color: #4831d4;
                        color: #ffffff;
                        border: none;
                    }
                }
            } 
        }

        .write {
            box-sizing: border-box;
                border-radius: 6px;
                display: flex;
                margin-top: -2.3em;
                list-style-type: none;
                margin-left: 9em;
                background-color: transparent;
                padding: 2em;
    
                .article{
                    h1 {
                        font-size: 1.5em;
                        margin: 0;
                        font-weight: 600;
                        line-height: 1.1;
                        letter-spacing: -0.03em;
                        color: #4831d4;
                        transition: transform 0.5s, opacity 0.2s;
                        margin-top: -0.8em;
                    }
                    p {
                        font-size: 0.8em;
                        line-height: 1.6;
                        color: white;
                        margin-top: 1em;
                    }
                    .send {
                    margin-top: 0.5em;
                    padding: 10px;
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #4831d4;
                    color: #4831d4;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    font-size: 0.6em;
                    box-sizing: border-box;
                        &:hover {
                            transform-origin: left;
                            background-color: #4831d4;
                            color: #ffffff;
                            border: none;
                        }
                    }
                }       
        }

    }
}