

.workdetails {
    background-color: #181818;
    margin: 0;
    padding: 0;

    .heading {
        justify-content: center;
        align-items: center;
        text-align: center;
        
        h3 {
            padding-top: 5em;
            color: #fff;
            font-weight: 700;
            font-size: 1.802em;
            line-height: 1.15;
            transition: color 0.6s ease 0s;
        }
        p {
            color: #fff;
            font-size: 1.3em;
            font-weight: 400;
        }
        
    }
    .collection {
        padding: 5.5em;
        margin-top: -3em;
        
        .card {
            box-shadow: 0 20px 25px -2px rgba(0,0,0,.4);
            background: linear-gradient(180deg,#181818 0,#222 100%);
            margin-bottom: 1.1em;
            box-sizing: border-box;
            
            &:hover {
                box-shadow: 1px 1px 1px 1px rgba(114, 113, 113, 0.116);
                -moz-box-shadow: 1px 1px 1px 1px rgba(114, 113, 113, 0.116);
                -webkit-box-shadow: 1px 1px 1px 1px rgba(114, 113, 113, 0.116);
               transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
               -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
            }
            img {
                padding: 3em;
            }
            .card-body {
                //background-color: white;
                padding: 2.5em;

                h4 {
                    color: #fff;
                    font-weight: 600;
                }
                .card-text {
                    font-size: 1.1em;
                    color: blueviolet;
                    text-decoration: none;
                }
            }
        }
    }
}
